.btn{
    height: 200px;
    width: 200px;
    background-color: blue;
    font-size: 250%;
    color: white;
    margin: 15px;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
