body{
    background-color: #618B95;
}

.btn{
    height: 200px;
    width: 200px;
    background-color: #235864;
    font-size: 225%;
    color: white;
    margin: 15px;
    border-radius: 10%;
}

.btn:hover{
    font-weight: bold;
    border: 2px solid white;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.scoreboard{
    width: 100%;
    height: 50px;
    color: white;
    position: fixed;
    top: 20%;
    font-size: 150%;
}

#lastGameResult{
    top: 15%;
}

#winner{
    top: 75%;
}